---
import { Image } from "astro:assets";
import building from "../assets/images/building.jpg";

const items = [
  {
    title: "10",
    subtitle: "projects",
  },
  {
    title: "50",
    subtitle: "clients",
  },
  {
    title: "90",
    subtitle: "projects",
  },
];
---

<section class="p-8 md:p-16 overflow-hidden" id="about-us">
  <div class="max-w-7xl mx-auto flex flex-col gap-12">
    <h2 class="text-3xl font-bold font-euro" data-aos="fade-up">
      <span class="text-white">ABOUT </span>
      <span class="text-[#40E0D0]">US</span>
    </h2>
    <div class="grid grid-cols-1 gap-20 lg:grid-cols-2">
      <div class="" data-aos="fade-right">
        <Image
          src={building}
          alt="building"
          class="h-[32rem] w-full object-cover rounded-[2.5rem]"
        />
      </div>
      <div class="flex flex-col gap-4" data-aos="fade-left">
        <p class="text-pretty text-white">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore.
        </p>

        <p class="text-pretty text-white">
          Tempor nec feugiat nisl pretium fusce id velit ut tortor pretium
          viverra.
        </p>

        <div class="flex justify-between mt-auto gap-8 flex-wrap">
          {
            items.map((item, i) => (
              <div
                class="flex flex-col items-center bg-[#2ec4b6] p-4 rounded-[2rem] flex-1 py-8 font-euro"
                data-aos="fade-up"
                data-aos-delay={i * 100}
              >
                <p class="text-5xl font-bold">
                  <span class="text-white">{item.title}</span>+
                </p>
                <p class="uppercase font-semibold">{item.subtitle}</p>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
