---
import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  title: string;
  description: string;
}
const { image, title, description } = Astro.props;
---

<a href="#" class="relative block rounded-[2.5rem] border border-[#26557d]">
  <Image
    src={image}
    alt={title}
    class="h-auto w-full rounded-[2.5rem] object-cover border-[#26557d] border aspect-square"
  />

  <div class="px-4 py-8">
    <strong class="text-xl font-bold uppercase text-white font-euro">
      {title}
    </strong>

    <p class="mt-2 text-pretty text-blue-200 text-justify">
      {description}
    </p>
  </div>
</a>
